body {
  background-color: #20718C;
  font-family: Arial, Helvetica, 'Sans Serif';
  font-size: 12px;
  color: #222222;
}

img {
  border: 0;
}

a {
  color: #222222;
  font-weight: bold;
}

fieldset {
  border: none;
  position: relative;
}

fieldset legend span {
  border-bottom: 1px solid #FFFFFF;
  display: block;
  font-size: 2.25em;
  line-height: 1.1;
  margin: 20px 0;
  padding-bottom: 20px;
  /*position: absolute;*/
  /*display: block;*/
}

input, textarea {
  border: 1px solid #666666;
  padding: 5px;
  width: 220px;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
}

textarea {
  height: 140px;
}

form {
  width: 250px;
  margin: auto;
}

.field {
  margin-bottom: 10px;
}

#layout_header {
  height: 132px;
}

#layout_header img {
  float: left;
  margin-bottom: 10px;
  margin: 0px 50px 10px 0px;
}

#layout_container {
  width: 600px;
  margin: 40px auto;
}

#header_text {
  text-align: center;
}

#site_title {
  font-size: 80px;
  margin: 0px;
}

#site_menu {
}

#layout_body {
  background-color: #FFFFFF;
  border: 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 0px 15px 15px 15px;
  -webkit-box-shadow: 5px 5px 5px #134252;
  -moz-box-shadow: 5px 5px 5px #134252;
}

#layout_footer {
  border-top: 1px solid #BABABA;
  text-align: center;
  padding-top: 5px;
}

#alert {
  padding: 8px;
  margin: 5px 0 5px 0;
  background-color: #FEC2C4;
  border: 1px solid #AB0703;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  color: #AB0703;
  font-weight: bold;
}

#alert a {
  color: #AB0703;
}

#alert img {
  float: left;
}

#notice {
  padding: 8px;
  margin: 5px 0 5px 0;
  background-color: #FEFDC2;
  border: 1px solid #ABA803;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  color: #ABA803;
  font-weight: bold;
}

#notice a {
  color: #CCC803;
}

#notice img {
  float: left;
}

.centered_title {
  text-align: center;
  padding: 3px 0 3px 0;
  background-color: #E0E0E0;
}

.fancy_list {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
}

.fancy_list li {
  background-color: #E0E0E0;
  margin: 1px 0 1px 0;
  padding: 5px;
}

.fancy_list li:hover {
  background-color: #BABABA;
  margin-left: 3px;
}

.group_membership_status {
  float: right;
  font-style: italic;
}

#assignments.expired {
  color: #8C2320;
}

#assignments.in_progress {
  color: #208C22;
}
