<h1>My Groups</h1>

<div class="groups_list">
  <% unless @groups.empty? %>
    <%= render :partial => "listed_group", :collection => @groups %>
  <% else %>
    <h3>You have not joined any groups yet. You can <%= link_to("join one", new_group_membership_path) %> or <%= link_to "create one", new_group_path %></h3>
  <% end %>
</div>

<%= link_to 'New Group', new_group_path %>
