<h1 class="centered_title">My Courses</h1>

<div id="current_courses">
  <% unless @courses.empty? %>
    <h3>You are currently enrolled in <%= pluralize(@courses.count, "course") %></h3>

    <ul class="fancy_list">
      <% @courses.each do |course| %>
        <li><%= link_to "#{course.title.titleize} (#{course.catalog_name})", course_path(course) %></li>
      <% end %>
    </ul>
  <% else %>
    <h3>You are not currently enrolled in any courses.</h3>
  <% end %>
</div>
